.specific__content {
  align-self: center;
  justify-self: start;
  margin: 0;
  padding-left: 20px;
}

@media screen and (max-width: 768px) {
  .specific__content {
    padding: 0 5px;
    font-size: 14px;
  }
}
