.devices__different {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  color: #0d5adc;
}

.devices__different > span {
  padding-top: 5px;
  width: max-content;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .devices__different {
    align-self: center;
    width: 100%;
    padding-bottom: 20px;
  }
}
