.modal__search {
  display: none;
  width: 349px;
  min-height: 47px;
  margin-left: 18px;
  margin-top: 34px;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  font-size: 24px;
  padding-left: 16px;
}
