.specific__title {
  margin: 0;
  text-transform: uppercase;
  color: #a4a9b9;
  grid-column: span 1;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .specific__title {
    padding-bottom: 15px;
  }
}
