.devices__phone-button {
  width: 18px;
  height: 8px;
  background-image: url(../../../images/arrow_down.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
