.devices {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

.devices__title {
  color: #828286;
  font-size: 48px;
  margin: 0;
}

.devices__phone-list {
  list-style-type: none;
  display: flex;
}

.devices__phone-image {
  height: 200px;
}

.devices__header {
  display: flex;
  justify-content: space-between;
}

.devices__count-list {
  display: flex;
  color: #0d5adc;
  font-size: 18px;
  line-height: calc(24 / 18);
}

.devices__count {
  cursor: pointer;
  width: max-content;
  height: max-content;
  padding: 0 3px;
}

.devices__count_active {
  border-bottom: solid 1px;
}
